<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html'%}
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    {% include 'navbar.html'%}


    <div class="container-fluid bg-1 text-center">
        <h3>Who's This?</h3>
        <div class="row">
            <div class="col-sm-4">
                <img src="images/MyPic 1.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Selfie" width="250" height="250">
            </div>
            <div class="col-sm-4">
                <img src="images/MyPic 2.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Selfie" width="250" height="250">
            </div>
            <div class="col-sm-4">
                <img src="images/MyPic 3.png" class="img-responsive img-circle margin" style="display:inline" alt="Selfie" width="220" height="250">
            </div>
        </div>
        <h4>It's Me!</h4>
    </div>

    </div>

    <div class="container-fluid bg-2 text-center">
        <h1>Hello readers</h1>
        <div id="About">
            <p>I'm David Lal - a 19-year old portuguese boy. I'm a pisces, I like spicy food, my favourite flavor is mint, my favourite animal is the red fox and I love reading.</p>
            <p>I'm a Multimedia Computing student in Coventry University, this means that I have skills related to both media techniques and professional computing standarts.</p>
            <p>I have experience in Games Development using Unity, Web Development and Design, UX Design, Content Creation using Digital Media (Sony Vegas and Adobe Primier), Photoshop and Illustrator.</p>
            <p>In terms of programing I am aware of Computer Architecture, Algorithms and Data Structures.</p>
            <p>I am capable of programming in:</p>
        </div>
        <div id="codelan">
            <p>Python</p>
            <p>C#</p>
            <p>HTML5</p>
            <p>CSS3</p>
            <p>JavaScript</p>
        </div>
    </div>


</body>